
body {
    background-image:url("creative-education-background-with-school-supplies-vector.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: xx-large;
    color: rgb(241, 238, 238);
    text-align: center;
}

h2 {
color: #fff;
    margin-top: 20px;
}

form {
    width: 500px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: xx-large;
    color:black;
    margin-bottom: 10px;
}

input[type="text"] {
    color: black;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
input[type=text] {
    border: 2px solid rgb(62, 11, 204);
    border-radius: 4px;
  }

button {
    padding: 10px 20px;
    background-color: #190aee;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.header-box {
    background-color: #333; 
    color: #fff; 
    padding: 20px; 
    text-align: center; 
    border-radius: 10px; 
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); 
}
